.jp-ai-ChatSettings-header {
  font-size: var(--jp-ui-font-size3);
  font-weight: 400;
  color: var(--jp-ui-font-color1);
}

.jp-ai-ChatSettings-welcome {
  color: var(--jp-ui-font-color1);
}

/* Defer to browser defaults for links in model help */
.jp-ai-ChatSettings-model-help a {
  text-decoration: revert;
  color: revert;
}

.jp-ai-ChatSettings-model-help a:hover {
  text-decoration: revert;
  color: revert;
}
