.jp-ai-copy-button-container {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 4px;
}

.jp-ai-copy-button.MuiButton-root {
  font-size: var(--jp-content-font-size0);
  min-width: 11.1em;
  text-transform: none;
}
