.jp-ai-ExpandableTextField-label {
  font-size: var(--jp-ui-font-size0);
}

.jp-ai-ExpandableTextField-value {
  font-size: var(--jp-ui-font-size1);
}

.jp-ai-ExpandableTextField-value-collapsed {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
}

.jp-ai-ExpandableTextField-value-expanded {
  text-overflow: none;
  overflow: visible;
  height: auto;
}
