.jp-ai-rendermime-markdown .jp-RenderedHTMLCommon {
  padding-right: 0;
}

.jp-ai-rendermime-markdown pre {
  background-color: var(--jp-cell-editor-background);
  overflow-x: auto;
  white-space: pre;
  margin: 0;
  padding: 4px 2px 0 6px;
  border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
}

.jp-ai-rendermime-markdown pre > code {
  background-color: inherit;
  overflow-x: inherit;
  white-space: inherit;
}

.jp-ai-rendermime-markdown mjx-container {
  font-size: 119%;
}
