[hooks]
before-build-npm = [
    "python -m pip install jupyterlab",
    "jlpm",
    "jlpm build:prod"
]
before-build-python = [
    "jlpm clean:all"
]

[options]
version-cmd = "../../scripts/bump-version.sh"
python_packages = [
    "packages/jupyter-ai-magics:jupyter-ai-magics",
    "packages/jupyter-ai:jupyter-ai"
]
