[build-system]
requires = ["hatchling>=1.4.0", "jupyterlab~=3.4", "hatch-nodejs-version"]
build-backend = "hatchling.build"

[project]
name = "jupyter-ai-top"
description = "A collection of jupyter extensions and models for Generative AI"
keywords = ["jupyter", "server", "extension"]
dynamic = ["version"]
requires-python = ">=3.7"
dependencies = []

[project.optional-dependencies]
build = []

[[project.authors]]
name = "Jupyter Development Team"
email = "jupyter@googlegroups.com"

[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.license]
text = "BSD 3-Clause License"

[project.urls]
Homepage = "https://jupyter.org"

[tool.hatch.envs.default]
pre-install-commands = [
    "pip install jupyterlab~=3.4"
]
post-install-commands = [
    "jlpm install",       # install JS dependencies
    "scripts/install.sh", # install Jupyter server extensions and their Python dependencies
]

[tool.hatch.version]
source = "nodejs"
path = "packages/jupyter-ai/package.json"

[tool.check-manifest]
ignore = [ ".*",]

[tool.jupyter-releaser]
skip = [ "check-links", "check-manifest",]

[tool.jupyter-releaser.options]
python_packages = [
    "packages/jupyter-ai:jupyter-ai",
    "packages/jupyter-ai-dalle:jupyter-ai-dalle"
]
