[build-system]
requires = ["hatchling>=1.4.0", "jupyterlab~=4.0", "hatch-nodejs-version"]
build-backend = "hatchling.build"

[project]
name = "jupyter_ai_monorepo"
dynamic = ["version", "description", "authors", "urls", "keywords"]
requires-python = ">=3.8"
dependencies = []

[project.optional-dependencies]
build = []

[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.license]
text = "BSD 3-Clause License"

[tool.hatch.version]
source = "nodejs"
path = "package.json"

[tool.check-manifest]
ignore = [".*"]

[tool.check-wheel-contents]
ignore = ["W002"]

[tool.importlinter]
root_packages = ["jupyter_ai", "jupyter_ai_magics"]
include_external_packages = true

[[tool.importlinter.contracts]]
key = "pydantic"
name = "Forbidden import of `pydantic` package. Please import from `langchain.pydantic_v1` instead for compatibility with both Pydantic v1 and v2."
type = "forbidden"
source_modules = ["jupyter_ai", "jupyter_ai_magics"]
forbidden_modules = ["pydantic"]

[tool.hatch.build.targets.wheel]
packages=["jupyter_ai"]
