[build-system]
requires = ["hatchling>=1.4.0"]
build-backend = "hatchling.build"

[project]
name = "jupyter_ai"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.9"
description = "A set of extensions providing agentic AI in JupyterLab"
authors = [{ name = "Project Jupyter", email = "jupyter@googlegroups.com" }]
keywords = ["jupyter", "jupyterlab", "jupyterlab-extension", "jupyter-ai"]
classifiers = [
  "Framework :: Jupyter",
  "Framework :: Jupyter :: JupyterLab",
  "Framework :: Jupyter :: JupyterLab :: 4",
  "Framework :: Jupyter :: JupyterLab :: Extensions",
  "Framework :: Jupyter :: JupyterLab :: Extensions :: Prebuilt",
  "License :: OSI Approved :: BSD License",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]
dynamic = ["version"]

dependencies = [
  "jupyter_ai_router",
  "jupyter_ai_persona_manager",
  "jupyter_ai_litellm",
  "jupyter_ai_jupyternaut",
  "jupyter_ai_chat_commands",
  # TODO: add jupyter_ai_magic_commands once published
]

[project.optional-dependencies]
test = [
  # `jupyter_collaboration>=4` requires `jupyter_server_ydoc>=2.0.0`,
  # which requires `jupyter_server>=2.15.0`.
  "jupyter_server[test]>=2.15.0,<3",
  "coverage",
  "pytest",
  "pytest-asyncio",
  "pytest-cov",
  "pytest-tornasync",
  "pytest-jupyter",
  "syrupy~=4.0.8",
  "types-jsonschema",
  "mypy",
]

[project.urls]
Documentation = "https://jupyter-ai.readthedocs.io/en/v3/"
Source = "https://github.com/jupyterlab/jupyter-ai"
Tracker = "https://github.com/jupyterlab/jupyter-ai/issues"

[tool.hatch.version]
path = "jupyter_ai/__init__.py"
