[build-system]
requires = ["hatchling>=1.4.0", "jupyterlab~=4.0", "hatch-nodejs-version"]
build-backend = "hatchling.build"

[project]
name = "jupyter_ai"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.9"
classifiers = [
    "Framework :: Jupyter",
    "Framework :: Jupyter :: JupyterLab",
    "Framework :: Jupyter :: JupyterLab :: 4",
    "Framework :: Jupyter :: JupyterLab :: Extensions",
    "Framework :: Jupyter :: JupyterLab :: Extensions :: Prebuilt",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
dependencies = [
    # jupyter_server>=2.4 is required in JL4
    # jupyter_server>=2.11.1 is required by jupyter_server_ydoc>=3
    "jupyter_server>=2.11.1,<3",
    "importlib_metadata>=5.2.0",
    # pydantic <2.10.0 raises a "protected namespaces" error in JAI
    # - See: https://docs.pydantic.dev/latest/api/config/#pydantic.config.ConfigDict.protected_namespaces
    "pydantic>=2.10.0,<3",
    "jupyter_ai_magics>=3.0.0b0,<4.0.0",
    # traitlets>=5.6 is required in JL4
    "traitlets>=5.6",
    "deepmerge>=2.0,<3",
    "jupyterlab-chat>=0.12.0,<0.14.0",
]

dynamic = ["version", "description", "authors", "urls", "keywords"]

[project.optional-dependencies]
test = [
    # jupyter_server>=2.4 is required in JL4
    # jupyter_server>=2.11.1 is required by jupyter_server_ydoc>=3
    "jupyter_server[test]>=2.11.1,<3",
    "coverage",
    "pytest",
    "pytest-asyncio",
    "pytest-cov",
    "pytest-tornasync",
    "pytest-jupyter",
    "syrupy~=4.0.8",
    "types-jsonschema",
    "mypy",
]

dev = ["jupyter_ai_magics[dev]"]

all = ["jupyter_ai_magics[all]", "pypdf", "arxiv"]

[tool.hatch.version]
source = "nodejs"

[tool.hatch.metadata.hooks.nodejs]
fields = ["description", "authors", "urls"]

[tool.hatch.build.targets.sdist]
artifacts = ["jupyter_ai/labextension"]
exclude = [".github", "binder"]

[tool.hatch.build.targets.wheel.shared-data]
"jupyter_ai/labextension" = "share/jupyter/labextensions/@jupyter-ai/core"
"install.json" = "share/jupyter/labextensions/@jupyter-ai/core/install.json"
"jupyter-config/server-config" = "etc/jupyter/jupyter_server_config.d"
"jupyter-config/nb-config" = "etc/jupyter/jupyter_notebook_config.d"

[tool.hatch.build.hooks.version]
path = "jupyter_ai/_version.py"

[tool.hatch.build.hooks.jupyter-builder]
dependencies = ["hatch-jupyter-builder>=0.5"]
build-function = "hatch_jupyter_builder.npm_builder"
ensured-targets = [
    "jupyter_ai/labextension/static/style.js",
    "jupyter_ai/labextension/package.json",
]
skip-if-exists = ["jupyter_ai/labextension/static/style.js"]

[tool.hatch.build.hooks.jupyter-builder.build-kwargs]
build_cmd = "build:prod"
npm = ["jlpm"]

[tool.hatch.build.hooks.jupyter-builder.editable-build-kwargs]
build_cmd = "install:extension"
npm = ["jlpm"]
source_dir = "src"
build_dir = "jupyter_ai/labextension"

###############################################################################
# Entry points provided by Jupyter AI.
# See: https://packaging.python.org/en/latest/specifications/entry-points/

[project.entry-points."jupyter_ai.personas"]
jupyternaut = "jupyter_ai.personas.jupyternaut:JupyternautPersona"
###############################################################################
