name: Check Release

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  schedule:
    - cron: "0 0 * * *"

jobs:
  check_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup environment
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
        with:
          python_version: "3.11.x"

      - name: Check Release
        uses: jupyter-server/jupyter_releaser/.github/actions/check-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version_spec: minor
        env:
          DEBUG: true  #The additional debugging output produced in this GitHub Actions workflow includes:The version of Node.js ,NPM ,jlpm ,Yarn ,Python installed on the runner.


      - name: Runner debug info
        if: always()
        run: |
          echo "Node version: $(node --version)"
          echo "NPM version: $(npm --version)"
          echo "jlpm version: $(jlpm --version)"
          echo "Yarn version: $(yarn --version)"
          echo "Python version: $(python --version)"
